<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.fgh.voice"
      android:versionCode="1"
      android:versionName="1.1.0">
    <uses-sdk android:minSdkVersion="8" />

    <application android:icon="@drawable/icon" 
				    android:name=".PWApplication"
				    android:label="@string/PIG_FRAME_APP_NAME"
				    android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
 		<!-- appid -->
		 <meta-data
			android:name="APP_ID"
			android:value="927AF6E454BF4DD04998F54603FB5243" />
					
		<!-- 广告播放时间(s) -->
		<meta-data
			android:name="APP_INTERVAL"
			android:value="30" />
		
		<!-- 测试模式, true为测试,false为发布  -->
		<meta-data
			android:name="APP_TESTMODE"
			android:value="false" />
			
			
			 <!-- 友盟统计  -->
        <meta-data android:value="50b5e25e52701562a0000077" android:name="UMENG_APPKEY"></meta-data>
		<meta-data android:value="appchina" android:name="UMENG_CHANNEL"/>
			
       <activity android:name=".act.PWellcome_Activity"
     	 >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
       <activity android:name=".act.PWMainTabActivity"/>
       <activity android:name=".act.PWHomeListActivity"/>
       <activity android:name=".act.PWWeiboDetailAct"/>
       <activity android:name=".act.PWTimeLineActivity"/>
       <activity android:name=".act.PWNewMainTabActivity"/>
       <activity android:name=".act.PWStaticListActivity"/>
       <activity android:name=".act.Pw_About_Activity"/>
       <activity android:name=".act.PWMyTimeLineActivity" android:windowSoftInputMode="adjustUnspecified|stateHidden" />
       <activity android:name=".act.PWZoomPicAtivity"/>
       <activity android:name=".act.PWHotTrendsAct"/>
     
      <!-- MobinWIN -->
       <activity android:name="com.tencent.mobwin.MobinWINBrowserActivity">
		</activity>

    </application>
     <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> 
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />   
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
	    <!-- 用于连接Internet,拉取广告 -->
	<uses-permission
			android:name="android.permission.INTERNET" />
		<!--用于识别网络接入点等信息,加快获取广告速度  -->
	<uses-permission
			android:name="android.permission.ACCESS_NETWORK_STATE" />
		<!--用于识别WIFI网络等信息,加快获取广告速度  -->
		<uses-permission
			android:name="android.permission.ACCESS_WIFI_STATE" />
	<!-- 用于精确统计用户手机的系统信息 -->	
	<uses-permission
			android:name="android.permission.READ_PHONE_STATE" />
		<!-- 用于缓存广告对象,节省用户流量,并提高用户体验  -->
	<uses-permission
			android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
		<!-- 有助于获取投放地域广告,提高广告与用户的相关性,提高广告点击率 -->
	<uses-permission
			android:name="android.permission.ACCESS_COARSE_LOCATION" />
		<!-- 有助于精准投放地域广告,提高广告与用户的相关性,提高广告点击率 -->
	<uses-permission
			android:name="android.permission.ACCESS_FINE_LOCATION" />	
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
	<uses-permission android:name="android.permission.READ_LOGS"></uses-permission>
</manifest>